.icon {
    display: inline-flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    border: var(--border);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    background-color: var(--color-base-50);
    color: var(--color-base-700);
    transition: var(--transition);
    cursor: default;
    text-decoration: none;
}

.icon:hover {
    transform: scale(1.05);
}

.icon:active {
    transform: scale(0.95);
    color: var(--color-base-200);
    background-color: var(--color-base-600);
}

.pointer {
    cursor: pointer;
}

.lg {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.md {
    padding: 0.4rem 0.9rem;
    font-size: 0.8rem;
}

.imageFrame {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-base-50);
    border: var(--border);
    overflow: hidden;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
}

.lg .imageFrame {
    width: 70px;
    height: 70px;
}

.md .imageFrame {
    width: 50px;
    height: 50px;
}

.image {
    width: 70%;
    object-fit: cover;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
}
