.headerContainer {
    display: inline;
}

.titleText {
    display: inline;
    margin-right: 0.5rem;
}

.headerLink {
    color: inherit;
    text-decoration: none;
}

.headerText {
    display: inline;
}

.linkText {
    display: inline-block;
    margin-left: 0.4rem;
}

.pointer {
    cursor: pointer;
}
