.headerContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.headerText {
    display: inline;
}

.linkText {
    display: inline-block;
}

.pointer {
    cursor: pointer;
}
