.symbol {
    width: 20px;
    height: 20px;
    background-color: var(--color-base-50);
    border: var(--border);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: var(--color-base-500);
}
