.headerContainer {
    display: inline;
}

.titleText {
    display: inline;
    margin-right: 0.5rem;
}

.iconText {
    display: inline-block;
}

.headerText {
    display: inline;
}

.linkText {
    display: inline-block;
}

.pointer {
    cursor: pointer;
}
